@charset "UTF-8";
@font-face {
  font-family: "Open sans";
  src: url("../font/opensans.woff2"), url("../font/opensans.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Open sans";
  src: url("../font/opensanslight.woff2"), url("../font/opensanslight.woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Gilroy-Extra Bold";
  src: url("../font/gilroyextrabold.woff2"), url("../font/gilroyextrabold.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroylight.woff2"), url("../font/gilroylight.woff");
  font-weight: 300;
  font-style: normal; }

body {
  margin: 0;
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* блоки  БЭМ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header {
  width: 1200px;
  margin: 0 auto; }

.header__inner {
  width: 1160px;
  margin: 0 auto;
  padding: 16px 60px 51px 59px;
  background-image: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px); }

.header--catalog .header__inner {
  padding-top: 15px;
  padding-bottom: 50px; }

.header__logo {
  margin-bottom: 9px;
  margin-left: -2px; }

.header--catalog .header__logo {
  margin-top: 3px;
  margin-bottom: 7px; }

.header__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-weight: 300; }

.header__search {
  width: 52%; }

.header__user-menu {
  width: 48%; }

.logo {
  font-family: "Gilroy-Extra Bold";
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.8px; }

.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.6; }

.logo[href]:active {
  opacity: 0.3; }

.logo--footer {
  margin-left: -3px;
  color: #fec515; }

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.search__input {
  width: 360px;
  height: 48px;
  padding: 10px;
  padding-left: 41px;
  border: none;
  font-family: "Open sans";
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M15.7 14.3l-3.104-3.104A6.979 6.979 0 0 0 14 7a7 7 0 1 0-7 7 6.963 6.963 0 0 0 4.193-1.404L14.3 15.7c.185.184.38.3.7.3a1 1 0 0 0 1-1 .93.93 0 0 0-.3-.7zM2 7c0-2.762 2.238-5 5-5s5 2.238 5 5-2.238 5-5 5-5-2.238-5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 4px 17px;
  background-size: 16px 16px;
  border-bottom: 2px solid transparent;
  outline: none;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-property: border-color;
  transition-property: border-color; }

.search__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3); }

.search__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3); }

.search__input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3); }

.search__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3); }

.search__input:hover {
  color: rgba(0, 0, 0, 0.6); }

.search__input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6); }

.search__input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6); }

.search__input:hover:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6); }

.search__input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6); }

.search__input:focus {
  color: #000000;
  border-bottom: 2px solid #000000;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: border-color;
  transition-property: border-color; }

.search__button {
  position: relative;
  padding: 0 19px;
  font-family: "Open sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  background-color: transparent;
  border: 2px solid #000000; }

.search__button:not(:focus):not(:active) {
  left: -99999px; }

.search__input:focus + .search__button {
  left: 0; }

.search__button:hover,
.search__button:focus {
  position: relative;
  display: inline-block;
  left: 0;
  background-color: #000000;
  color: #ffffff;
  outline: none; }

.search__button:active {
  color: rgba(255, 255, 255, 0.3); }

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.user-menu__autorization {
  width: 57%;
  font-weight: 300; }

.user-menu__link {
  position: relative; }

.user-menu__link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background-repeat: no-repeat; }

.user-menu__link:hover,
.user-menu__link:focus {
  color: rgba(0, 0, 0, 0.6); }

.user-menu__link:hover::before,
.user-menu__link:focus::before {
  opacity: 0.8; }

.user-menu__link:active {
  color: black;
  opacity: 0.3; }

.user-menu__link--username {
  margin-right: 15px;
  letter-spacing: 0.23px;
  padding-left: 26px; }

.user-menu__link--username::before {
  background-position: left center;
  background-size: 13px 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12'%3E%3Cpath fill='%23272525' d='M.032 12h12.937c-.163-2.643-2.074-4.837-4.671-5.543a3.47 3.47 0 0 0 1.687-2.972 3.485 3.485 0 0 0-6.97 0c0 1.264.68 2.361 1.688 2.972C2.106 7.163.194 9.357.032 12z'/%3E%3C/svg%3E"); }

.user-menu__link--username:hover,
.user-menu__link--username:focus {
  color: black;
  opacity: 0.6; }

.user-menu__link--username:active {
  opacity: 0.3; }

.user-menu__link--log-in {
  padding-left: 26px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 13px 12px; }

.user-menu__link--log-in::before {
  background-position: left center;
  background-size: 13px 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12'%3E%3Cpath fill='%23272525' d='M.032 12h12.937c-.163-2.643-2.074-4.837-4.671-5.543a3.47 3.47 0 0 0 1.687-2.972 3.485 3.485 0 0 0-6.97 0c0 1.264.68 2.361 1.688 2.972C2.106 7.163.194 9.357.032 12z'/%3E%3C/svg%3E"); }

.user-menu__link--log-in:hover,
.user-menu__link--log-in:focus {
  color: black;
  opacity: 0.6; }

.user-menu__link--log-in:active {
  opacity: 0.3; }

.user-menu__link--log-out {
  opacity: 0.3; }

.user-menu__link--compare {
  margin-right: auto;
  padding-left: 22px; }

.user-menu__link--compare::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath d='M8 2h1.984v8H8zM0 3h1.984v7H0zM4 0h2v10H4z'/%3E%3C/svg%3E");
  background-position: 2px 11px;
  background-size: 10px 10px; }

.user-menu__link--card {
  padding-left: 27px; }

.user-menu__link--card::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath d='M12 3H9v1L8 5 7 4V3H5v1L4 5 3 4V3H0l1 8 1 1h8l1-1 1-8z'/%3E%3Cpath d='M4 4V2l2-1h1l1 1v2h1V2L7 0H6C4 0 3 1 3 2v2h1z'/%3E%3C/svg%3E");
  background-position: 4px 9px;
  background-size: 12px 12px; }

.user-menu--footer .user-menu__autorization {
  width: 264px;
  padding-right: 42px;
  text-align: right; }

.user-menu--footer .user-menu__autorization--logged {
  text-align: left;
  padding-right: 0; }

.user-menu--footer .user-menu__link {
  color: rgba(255, 255, 255, 0.7); }

.user-menu--footer .user-menu__link:hover,
.user-menu--footer .user-menu__link:focus {
  color: white;
  opacity: 1; }

.user-menu--footer .user-menu__link:active {
  opacity: 0.3; }

.user-menu--footer .user-menu__link:hover::before,
.user-menu--footer .user-menu__link:focus::before {
  opacity: 0.6; }

.user-menu--footer .user-menu__link--username::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12'%3E%3Cpath fill='%23fec515' d='M0 12h13c0-3-2-5-5-6a3 3 0 0 0 2-3 3 3 0 0 0-7 0c0 2 1 3 2 3-3 1-5 3-5 6z'/%3E%3C/svg%3E"); }

.user-menu--footer .user-menu__link--log-in::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12'%3E%3Cpath fill='%23fec515' d='M0 12h13c0-3-2-5-5-6a3 3 0 0 0 2-3 3 3 0 0 0-7 0c0 2 1 3 2 3-3 1-5 3-5 6z'/%3E%3C/svg%3E"); }

.user-menu--footer .user-menu__link--compare {
  margin-right: 32px; }

.user-menu--footer .user-menu__link--compare::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fec515' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath d='M8 2h1.984v8H8zM0 3h1.984v7H0zM4 0h2v10H4z'/%3E%3C/svg%3E"); }

.user-menu--footer .user-menu__link--card::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fec515' width='12' height='12'%3E%3Cpath d='M12 3H9v1L8 5 7 4V3H5v1L4 5 3 4V3H0l1 8 1 1h8l1-1 1-8z'/%3E%3Cpath d='M4 4V2l2-1h1l1 1v2h1V2L7 0H6C4 0 3 1 3 2v2h1z'/%3E%3C/svg%3E");
  background-position: 8px 9px; }

.main-menu {
  margin-right: -4px;
  font-family: "Gilroy-Extra Bold";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase; }

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.main-menu__item--catalog {
  position: relative;
  margin-right: calc(51.8% - 247px); }

.main-menu__item--catalog:hover .main-menu__sub-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-menu__link:hover,
.main-menu__link:hover {
  color: rgba(0, 0, 0, 0.6); }

.main-menu__link:active {
  color: rgba(0, 0, 0, 0.3); }

.main-menu__link--expand {
  position: relative;
  display: block;
  width: 247px; }

.main-menu__link--expand::after {
  position: absolute;
  content: "";
  top: 4px;
  right: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23272525' d='M16 7H9V0H7v7H0v2h7v7h2V9h7z'/%3E%3C/svg%3E");
  background-position: center;
  opacity: 0.3; }

.main-menu__item--delivery {
  margin-right: 34px; }

.main-menu__item--guarantee {
  margin-right: auto; }

.main-menu__item--contacts {
  text-align: right; }

.main-menu__sub-menu {
  display: none; }

.sub-menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1160px;
  margin: 0 0 0 -59px;
  padding: 24px 60px 30px 59px;
  z-index: 10;
  list-style: none;
  font-family: "open sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  text-transform: none;
  letter-spacing: 0.15px;
  background-color: #f7e296; }

.sub-menu__item:nth-child(1),
.sub-menu__item:nth-child(4),
.sub-menu__item:nth-child(3n+7) {
  width: 235px; }

.sub-menu__item:nth-child(2),
.sub-menu__item:nth-child(3n+8) {
  width: 200px; }

.sub-menu__item:nth-child(3),
.sub-menu__item:nth-child(5),
.sub-menu__item:nth-child(3n+9) {
  width: 605px; }

.sub-menu__item:nth-child(6) {
  width: 900px; }

.sub-menu__link:hover,
.sub-menu__link:hover {
  color: rgba(0, 0, 0, 0.6); }

.sub-menu__link:active {
  color: rgba(0, 0, 0, 0.3); }

.main {
  padding-bottom: 82px; }

.main--catalog {
  width: 100%;
  padding-bottom: 0; }

.main__inner-container {
  width: 1200px;
  margin: 0 auto; }

.main-inner-container--max-width {
  width: 100%; }

.main-inner-container--bg-gray {
  background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px); }

.main__slider {
  width: 1160px;
  margin: 0 auto 106px;
  background-image: linear-gradient(to bottom, #f7e296 112px, #ffffff 112px); }

.main__catalog-sections {
  width: 1160px;
  margin: 0 auto 71px; }

.main__service {
  position: relative;
  width: 1160px;
  margin: 0 auto 94px; }

.main__brends {
  width: 1160px;
  margin: 0 auto 93px; }

.main__information {
  width: 1160px;
  margin: 0 auto; }

.main__header {
  width: 1160px;
  margin: 0 auto 45px;
  padding: 0 60px; }

@media all and (max-width: 1199px) {
  .main__header {
    width: 96.66%; } }

.main__heading {
  margin: 37px 0 25px;
  font-family: "Gilroy-Extra Bold";
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.6px; }

.main__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.main__filters-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: calc(50% - 252px);
  background-color: #dbdbdb;
  margin: 0;
  font-family: "Gilroy-Extra Bold";
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.4px; }

.main__filters {
  width: calc(50% - 252px);
  /*половина ширины (1160/2=580) минус ширину фильтра(269) + падинг (59) = 580-269-59=252*/
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.main__sorting {
  width: calc(50% + 252px);
  background-color: #ebebeb; }

.main__catalog {
  width: calc(50% + 252px);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.main__filters-header-inner {
  width: 267px;
  padding: 23px 70px 23px 0; }

.preview-slider {
  position: relative;
  min-height: 487px; }

.preview-slider__control {
  position: absolute;
  top: 328px;
  right: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 78px;
  z-index: 10; }

.preview-slider__item {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.preview-slider__item--current {
  opacity: 1;
  -webkit-transition: 0.3s opacity linear;
  transition: 0.3s opacity linear; }

.preview-slider__item::before {
  position: absolute;
  top: -13px;
  right: 49px;
  font-family: "Gilroy-Extra Bold";
  font-size: 179px;
  line-height: 179px;
  color: #ffffff; }

.preview-slider__item--first::before {
  content: "01"; }

.preview-slider__item--second::before {
  content: "02"; }

.preview-slider__item--tird::before {
  content: "03"; }

.preview-slider__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48.7%; }

.preview-slider__image--copter {
  padding-top: 65px; }

.preview-slider__image-wrapper {
  line-height: 0; }

.preview-slider__description {
  width: 51.3%;
  padding: 33px 34px 8px; }

.preview-slider__header {
  position: relative;
  margin-bottom: 20px;
  font-family: "Gilroy-Extra Bold";
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.7px; }

.preview-slider__header::before {
  position: absolute;
  content: "";
  top: -42px;
  left: 2px;
  width: 100px;
  height: 7px;
  background-color: #ffffff; }

.preview-slider__text {
  margin-bottom: 42px;
  font-family: "Open sans";
  font-weight: 300;
  letter-spacing: 0.15px; }

.preview-slider__more {
  width: 220px;
  margin-left: 2px; }

.preview-slider__facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 50px;
  font-family: "Open sans";
  font-size: 13px;
  line-height: 20px;
  font-weight: 300; }

.preview-slider__column--first {
  width: 160px; }

.preview-slider__column--second {
  width: 140px; }

.preview-slider__cell--fact {
  margin-bottom: 7px;
  font-family: "Gilroy";
  font-size: 36px;
  line-height: 48px;
  font-weight: 300; }

#preview-slide1:checked ~ .preview-slider__control .slider-control__checked--1,
#preview-slide2:checked ~ .preview-slider__control .slider-control__checked--2,
#preview-slide3:checked ~ .preview-slider__control .slider-control__checked--3 {
  display: block; }

#preview-slide1:checked ~ .preview-slider__item--first,
#preview-slide2:checked ~ .preview-slider__item--second,
#preview-slide3:checked ~ .preview-slider__item--tird {
  opacity: 1;
  -webkit-transition: 0.3s opacity linear;
  transition: 0.3s opacity linear;
  z-index: 2; }

#preview-slide1:checked ~ .preview-slider__item--second,
#preview-slide1:checked ~ .preview-slider__item--tird,
#preview-slide2:checked ~ .preview-slider__item--first,
#preview-slide2:checked ~ .preview-slider__item--tird,
#preview-slide3:checked ~ .preview-slider__item--first,
#preview-slide3:checked ~ .preview-slider__item--second {
  opacity: 0;
  -webkit-transition: 0.3s opacity linear;
  transition: 0.3s opacity linear;
  z-index: 0; }

.slider-control__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer; }

.slider-control__checked {
  display: none;
  width: 4px;
  height: 4px;
  z-index: 10;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 50%; }

.button {
  display: inline-block;
  min-height: 40px;
  padding: 9px;
  vertical-align: middle;
  text-align: center;
  font-family: "Gilroy-Extra Bold";
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  overflow-wrap: break-word;
  background-image: linear-gradient(to bottom, transparent 16px, #fec515 16px, #fec515 51%, transparent 51%), linear-gradient(to top, transparent 16px, #fec515 16px, #fec515 51%, transparent 51%);
  border: none;
  background-color: transparent;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.button:hover,
.button:focus {
  background-image: none;
  background-color: #fec515;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.button:active {
  color: rgba(0, 0, 0, 0.3); }

.catalog-sections__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Gilroy-Extra Bold";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px; }

.catalog-sections__item {
  position: relative;
  width: 160px;
  margin-bottom: 10px; }

.catalog-sections__link {
  display: block;
  position: relative;
  padding-top: 193px; }

.catalog-sections__link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat; }

.catalog-sections__link::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  z-index: -5;
  background-color: #f0c52e;
  opacity: 0.5; }

.catalog-sections__link--glasses::before {
  background-image: url("../img/popular-1.svg");
  background-position: center center; }

.catalog-sections__link--monopod::before {
  background-image: url("../img/popular-2.svg");
  background-position: 51% 96%; }

.catalog-sections__link--camera::before {
  background-image: url("../img/popular-3.svg");
  background-position: 55% 52%; }

.catalog-sections__link--braslet::before {
  background-image: url("../img/popular-4.svg");
  background-position: 53% 53%; }

.catalog-sections__link--watches::before {
  background-image: url("../img/popular-5.svg");
  background-position: 53% 51%; }

.catalog-sections__link--copter::before {
  background-image: url("../img/popular-6.svg");
  background-position: 48% 54%; }

.catalog-sections__link:hover::after,
.catalog-sections__link:focus::after {
  opacity: 1; }

.catalog-sections__link:active::before {
  opacity: 0.3; }

.catalog-sections__link:active {
  color: rgba(0, 0, 0, 0.3); }

.service-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 69px; }

.service-slider__control {
  width: 284px;
  padding: 80px 0 46px;
  border-right: 7px solid #000000; }

.service-slider__label {
  display: block;
  margin-bottom: 24px;
  padding: 0;
  cursor: pointer; }

.service-slider__label--slide2 {
  margin-bottom: 25px; }

.service-slider__button {
  position: relative;
  width: 160px;
  padding-left: 3px; }

.service-slider__button:active {
  color: #f7e296;
  background-color: #000000; }

.service-slider__button:active::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 119px;
  top: 0;
  right: -119px;
  background-color: #000000; }

.service-slider__slide {
  padding: 47px 300px 20px 0;
  background-repeat: no-repeat;
  background-position: 92.4% 64%; }

.service-slider__slide--slide1 {
  background-image: url("../img/delivery.svg"); }

.service-slider__slide--slide2 {
  display: none;
  background-image: url("../img/warranty.svg"); }

.service-slider__slide--slide3 {
  display: none;
  background-image: url("../img/credit.svg"); }

#service-slide1:checked ~ .service-slider__control .service-slider__label--slide1,
#service-slide2:checked ~ .service-slider__control .service-slider__label--slide2,
#service-slide3:checked ~ .service-slider__control .service-slider__label--slide3 {
  background-color: #000000; }

#service-slide1:checked ~ .service-slider__control .service-slider__label--slide1 .service-slider__button,
#service-slide2:checked ~ .service-slider__control .service-slider__label--slide2 .service-slider__button,
#service-slide3:checked ~ .service-slider__control .service-slider__label--slide3 .service-slider__button {
  color: #f7e296;
  background: none; }

#service-slide1:focus ~ .service-slider__control .service-slider__label--slide1,
#service-slide2:focus ~ .service-slider__control .service-slider__label--slide2,
#service-slide3:focus ~ .service-slider__control .service-slider__label--slide3 {
  background-color: #000000; }

#service-slide1:focus ~ .service-slider__control .service-slider__label--slide1 .service-slider__button,
#service-slide2:focus ~ .service-slider__control .service-slider__label--slide2 .service-slider__button,
#service-slide3:focus ~ .service-slider__control .service-slider__label--slide3 .service-slider__button {
  color: #f7e296;
  background: none; }

#service-slide1:checked ~ .service-slider__content .service-slider__slide--slide1,
#service-slide2:checked ~ .service-slider__content .service-slider__slide--slide2,
#service-slide3:checked ~ .service-slider__content .service-slider__slide--slide3 {
  display: block; }

#service-slide1:checked ~ .service-slider__content .service-slider__slide--slide2,
#service-slide1:checked ~ .service-slider__content .service-slider__slide--slide3,
#service-slide2:checked ~ .service-slider__content .service-slider__slide--slide1,
#service-slide2:checked ~ .service-slider__content .service-slider__slide--slide3,
#service-slide3:checked ~ .service-slider__content .service-slider__slide--slide1,
#service-slide3:checked ~ .service-slider__content .service-slider__slide--slide2 {
  display: none; }

.service-slider__content {
  width: 876px;
  padding: 35px 20px 20px 115px; }

.service-slider__header {
  margin: 0 0 40px;
  padding-left: 2px;
  font-family: "Gilroy-Extra Bold";
  font-size: 47px;
  letter-spacing: 1px; }

.brends__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.brends__item {
  width: 260px;
  height: 100px;
  line-height: 0; }

.grayscale {
  /* Firefox 10-34 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
  /*
    Chrome 19+,
    Safari 6+,
    Safari 6+ iOS,
    Opera 15+
  */
  -webkit-filter: grayscale(1);
  /* Firefox 35+ */
  filter: grayscale(1);
  /* IE 6-9 */
  -webkit-filter: gray;
          filter: gray; }

.grayscale.grayscale-fade {
  -webkit-transition: -webkit-filter .5s;
  transition: -webkit-filter .5s;
  transition: filter .5s;
  transition: filter .5s, -webkit-filter .5s; }

/* Webkit hack until filter is unprefixed */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .grayscale.grayscale-fade {
    -webkit-transition: -webkit-filter .5s;
    transition: -webkit-filter .5s; } }

.grayscale.grayscale-off,
.grayscale.grayscale-fade:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }

/* Background element */
.grayscale.grayscale-replaced {
  -webkit-filter: none;
  filter: none; }

.grayscale.grayscale-replaced > svg {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 1; }

.grayscale.grayscale-replaced.grayscale-off > svg,
.grayscale.grayscale-replaced.grayscale-fade:hover > svg {
  opacity: 0; }

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.information__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 573px;
  position: relative;
  padding-top: 15px; }

.information__item--about-us {
  width: 43%; }

.information__item--contacts {
  width: 48.2%; }

.information__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000; }

.information__heading {
  margin: 46px 0 36px;
  font-family: "Gilroy-Extra Bold";
  font-size: 47px; }

.information__item--contacts .information__heading {
  letter-spacing: 0.7px;
  margin-left: -3px; }

.information__text {
  margin: 15px 0;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.12px; }

.information__text--compressed {
  letter-spacing: -0.17px; }

.information__item--contacts .information__text {
  margin-left: -3px; }

.information__transport-list {
  margin-top: 51px;
  padding-left: 36px;
  list-style: none;
  font-family: "Gilroy-Extra Bold";
  font-size: 16px;
  line-height: 40px; }

.information__transport-item {
  position: relative; }

.information__transport-item::before {
  position: absolute;
  content: "";
  top: 16px;
  left: -35px;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%; }

.information__more {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 260px;
  margin-top: auto; }

.information__map {
  margin-top: 24px;
  width: 560px;
  height: 222px;
  background-image: url(../img/map.jpg); }

.footer {
  padding: 60px 0 47px;
  background-color: #464646;
  color: #ffffff; }

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1160px;
  margin: 0 auto; }

.footer__item--left {
  position: relative;
  width: 30%;
  text-align: left; }

.footer__address {
  margin-top: 21px;
  font-weight: 300; }

.footer__address::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 32px;
  width: 80px;
  background-color: #fec515;
  height: 7px; }

.footer__item--right {
  width: 68.3%;
  padding-top: 2px;
  text-align: right; }

.footer__user-menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: left; }

.footer__more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 38px; }

.footer__phone-number-wrapper {
  width: 40%; }

.footer__phone-number:hover,
.footer__phone-number:focus {
  opacity: 0.6; }

.footer__phone-number:active {
  opacity: 0.3; }

.footer__copyright {
  width: 40%;
  margin-top: 62px; }

.footer__copyright__link {
  display: block;
  margin-left: auto;
  padding: 0;
  width: 27px;
  height: 35px;
  background-image: url("../img/icon/logo-html.svg");
  background-repeat: no-repeat;
  background-position: center center; }

.footer__copyright__link:hover,
.footer__copyright__link:focus {
  opacity: 0.6; }

.footer__copyright__link:active {
  opacity: 0.3; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 54%;
  margin: 0;
  padding: 6px 0 0;
  list-style: none;
  font-family: "Gilroy-Extra Bold";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase; }

.info__link {
  margin-left: 4px; }

.info__link:hover,
.info__link:focus {
  opacity: 0.6; }

.info__link:active {
  opacity: 0.3; }

.info__link--left {
  margin-left: 0; }

.social {
  width: 53.7%;
  margin: 64px 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 0; }

.social__item {
  display: inline-block;
  margin: 0 11px 5px; }

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3; }

.social__link--facebook {
  background-image: url(../img/icon/fb.svg); }

.social__link--insta {
  background-image: url(../img/icon/instagram.svg); }

.social__link--twitter {
  background-image: url(../img/icon/twitter.svg); }

.social__link:hover,
.social__link:focus {
  opacity: 0.6; }

.social__link:active {
  opacity: 0.1; }

.social__icon {
  fill: #ffffff; }

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 960px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15), 0 -1px 10px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15), 0 -1px 10px 0 rgba(0, 1, 1, 0.15); }

.pop-up--hidden {
  display: none; }

.pop-up--send-message {
  padding: 80px 100px; }

.pop-up--map {
  height: 560px;
  background-image: url(../img/map-big.jpg);
  background-position: center center; }

.pop-up__close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url("../img/icon/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  border: none;
  cursor: pointer; }

.pop-up__close:hover,
.pop-up__close:focus {
  opacity: 1; }

.pop-up__close:active {
  opacity: 0.8; }

.pop-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.pop-up__item {
  width: 360px;
  font-family: "Gilroy-Extra Bold";
  font-size: 18px;
  line-height: 24px; }

.pop-up__input {
  width: 360px;
  height: 50px;
  padding: 5px 20px 6px;
  font-family: "Open sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f1f1f1;
  border: 3px solid transparent; }

.pop-up__input:hover {
  background-color: #ebebeb; }

.pop-up__input:focus {
  background-color: transparent;
  border-color: #f0c52e;
  outline: none; }

.pop-up__caption {
  margin-bottom: 10px; }

.pop-up__item--message {
  width: 760px;
  margin: 30px 0 36px; }

.pop-up__textarea {
  width: 760px;
  height: 154px;
  padding: 20px 25px;
  font-family: "Open sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f1f1f1;
  border: 3px solid transparent;
  resize: vertical; }

.pop-up__textarea:hover {
  background-color: #ebebeb; }

.pop-up__textarea:focus {
  background-color: transparent;
  border-color: #f0c52e;
  outline: none; }

.pop-up__input--error {
  background-color: #f6dada; }

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.15px; }

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  margin-right: 34px; }

.breadcrumbs__item::after {
  position: absolute;
  content: "";
  top: 8px;
  right: -18px;
  width: 7px;
  height: 7px;
  border: 1px solid #000000;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.breadcrumbs__item:last-child::after {
  display: none; }

.breadcrumbs__link {
  opacity: 0.3; }

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  opacity: 0.6; }

.breadcrumbs__link:active {
  opacity: 0.1; }

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #efefef; }

.filters__form {
  width: 269px;
  padding: 69px 68px 69px 0; }

.filters__item {
  margin: 0;
  padding: 0 0 31px 0;
  border: none;
  border-top: 2px solid #000000; }

.filters__item--bluetooth {
  padding-bottom: 30px; }

.filters__legend {
  margin-top: 10px;
  margin-bottom: 18px;
  font-family: "Gilroy-Extra Bold";
  font-size: 18px;
  line-height: 24px; }

.filters__show {
  width: 100%; }

.price__range {
  min-height: 40px;
  margin-bottom: 3px;
  padding-top: 17px; }

.price__scale {
  position: relative;
  width: 97%;
  margin-left: auto;
  height: 2px;
  background-color: #dbdbdb; }

.price__scale-current {
  position: absolute;
  width: 58%;
  height: 2px;
  background-color: #91c92f; }

.price__controls {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 23px;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMyI+ICA8cGF0aCBvcGFjaXR5PSIuMyIgZmlsbD0iI0FCQUJBQiIgZD0iTTEwIDIwQzQuNDc3IDIwIDAgMTUuNTIyIDAgMTB2MmMwIDUuNTIyIDQuNDc3IDEwIDEwIDEwIDUuNTIyIDAgMTAtNC40NzggMTAtMTB2LTJjMCA1LjUyMi00LjQ3OCAxMC0xMCAxMHoiLz4gIDxjaXJjbGUgZmlsbD0iI0ZGRiIgY3g9IjEwIiBjeT0iMTAiIHI9IjEwIi8+ICA8Y2lyY2xlIGZpbGw9IiNBQkFCQUIiIGN4PSIxMCIgY3k9IjEwIiByPSIyIi8+PC9zdmc+");
  background-size: 100% 100%;
  cursor: pointer; }

.price__controls:hover,
.price__controls:focus {
  width: 22px;
  height: 25px; }

.price__controls--min {
  left: 0%; }

.price__controls--max {
  left: 58%; }

.price__outputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px; }

.price__output {
  width: 80px;
  overflow-x: auto;
  white-space: nowrap;
  font-family: Gilroy;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  opacity: 0.2; }

.price__output--min {
  margin-right: 10px; }

.color__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.color__label {
  position: relative;
  display: inline-block;
  min-height: 40px;
  padding-top: 8px;
  padding-left: 39px;
  font-size: 14px;
  line-height: 24px;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23'%3E%3Cpath d='M20 2l1 1v17l-1 1H3l-1-1V3l1-1h17m0-2H3C1 0 0 1 0 3v17c0 2 1 3 3 3h17c2 0 3-1 3-3V3c0-2-1-3-3-3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left 43%; }

.color__label:hover {
  opacity: 0.6; }

.color__label:active {
  opacity: 1; }

.color__checkbox:checked + .color__label {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23'%3E%3Cpath d='M7 7l-3 3 8 8L26 4l-3-3-11 11z'/%3E%3Cpath d='M21 20l-1 1H3l-1-1V3l1-1h17l1-2a3 3 0 0 0-1 0H3C1 0 0 1 0 3v17c0 2 1 3 3 3h17c2 0 3-1 3-3V10l-2 2v8z'/%3E%3C/svg%3E"); }

.color__checkbox:focus + .color__label {
  opacity: 0.6; }

.color__checkbox:disabled + .color__label {
  opacity: 0.3; }

.bluetooth__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.bluetooth__label {
  position: relative;
  display: inline-block;
  min-height: 40px;
  padding-top: 8px;
  padding-left: 39px;
  font-size: 14px;
  line-height: 24px; }

.bluetooth__label::before {
  position: absolute;
  top: 6px;
  left: -1px;
  content: "";
  width: 25px;
  height: 25px;
  border: 4px solid #000000;
  border-radius: 50%; }

.bluetooth__label:hover {
  opacity: 0.6; }

.bluetooth__label:active {
  opacity: 1; }

.bluetooth__input:checked + .bluetooth__label::after {
  position: absolute;
  top: 14px;
  left: 7px;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000000; }

.bluetooth__input:focus + .bluetooth__label {
  opacity: 0.6; }

.bluetooth__input:disabled + .bluetooth__label {
  opacity: 0.3; }

.sorting-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.sorting-controls__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 835px;
  padding: 23px 0 23px 73px; }

.sorting-controls__caption {
  width: 150px;
  margin: 0 50px 0 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: "Gilroy-Extra Bold";
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px; }

.sorting-controls__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 560px;
  margin: 0;
  padding: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
  line-height: 21px; }

.sorting-controls__item {
  opacity: 0.3;
  margin-right: 29px;
  font-size: 14px; }

.sorting-controls__item:hover,
.sorting-controls__item:focus {
  opacity: 0.6; }

.sorting-controls__item--current {
  opacity: 1; }

.sorting-controls__item:active {
  opacity: 1; }

.sorting-controls__item--ascending {
  margin-left: auto;
  margin-right: 21px; }

.sorting-controls__item:last-child {
  margin-right: 0; }

.sorting-controls__arrow {
  vertical-align: middle;
  display: inline-block;
  border: 10px solid #000000;
  border-top-width: 0;
  border-left-width: 5px;
  border-right-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent; }

.sorting-controls__arrow--to-bottom {
  border-top-width: 10px;
  border-bottom-width: 0; }

.catalog-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 832px;
  padding: 58px 0 77px 72px; }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.product-card {
  position: relative;
  display: block;
  width: 360px;
  margin: 11px 0 35px; }

.product-card:nth-child(2n+1) {
  margin-right: auto; }

.product-card--new::before {
  position: absolute;
  top: 28px;
  right: 26px;
  content: "NEW";
  width: 61px;
  height: 61px;
  padding-left: 5px;
  font-family: "Gilroy-Extra Bold";
  font-size: 14px;
  line-height: 59px;
  text-align: center;
  letter-spacing: 0.7px;
  border-radius: 50%;
  border: 2px solid #000000;
  opacity: 0.2; }

.product-card__overlay {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7); }

.product-card:hover .product-card__overlay,
.product-card:focus .product-card__overlay {
  z-index: 100; }

.product-card__add-to-cart {
  width: 55.55%; }

.product-card__add-to-compared {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  opacity: 0.5; }

.product-card__add-to-compared:hover,
.product-card__add-to-compared:focus {
  opacity: 1; }

.product-card__add-to-compared:active {
  opacity: 0.2; }

.product-card__image {
  margin-bottom: 32px;
  line-height: 0; }

.product-card__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.product-card__name {
  display: block;
  width: 72%;
  margin: 0;
  margin-right: auto;
  font-family: "Gilroy-Extra Bold";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.27px; }

.product-card__name:hover,
.product-card__name:focus {
  opacity: 0.6; }

.product-card__name:active {
  opacity: 0.3; }

.product-card__no-wrap {
  white-space: nowrap; }

.product-card__price {
  width: 25%;
  padding-right: 2px;
  text-align: right;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ebebeb; }

.pagination__item {
  font-family: "Gilroy-Extra Bold";
  font-size: 16px;
  line-height: 24px; }

.pagination__item--word {
  text-transform: uppercase;
  letter-spacing: 3.5px; }

.pagination__item--word .pagination__link {
  display: block;
  padding: 24px 26px 22px 30px; }

.pagination__item--word .pagination__link:hover,
.pagination__item--word .pagination__link:focus {
  background-color: #d9d9d9; }

.pagination__item--word .pagination__link:active {
  color: rgba(0, 0, 0, 0.3); }

.pagination__item--next {
  margin-left: auto; }

.pagination__item--number {
  margin: 0 12px;
  padding-left: 7px; }

.pagination__item--previous {
  margin-right: auto; }

.pagination__item--number .pagination__link {
  opacity: 0.3; }

.pagination__item--number .pagination__link--current {
  opacity: 1; }

.pagination__item--number .pagination__link:hover,
.pagination__item--number .pagination__link:focus {
  opacity: 0.6; }

.pagination__item--number .pagination__link:focus {
  opacity: 1; }
