@font-face {
  font-family: "Open sans";
  src: url("../font/opensans.woff2"),
       url("../font/opensans.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  src: url("../font/opensanslight.woff2"),
       url("../font/opensanslight.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Extra Bold";
  src: url("../font/gilroyextrabold.woff2"),
       url("../font/gilroyextrabold.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroylight.woff2"),
       url("../font/gilroylight.woff");
  font-weight: 300;
  font-style: normal;
}
