$font-main: "Gilroy", "Open Sans", "Helvetica", "Arial", sans-serif;
$font-main-bold: "Gilroy-Extra Bold", "Open Sans", "Helvetica", "Arial", sans-serif;

$font-additional: "Open Sans", "Helvetica", "Arial", sans-serif;
