.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.15px;
}

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  margin-right: 34px;
}

.breadcrumbs__item::after {
  position: absolute;
  content: "";
  top: 8px;
  right: -18px;
  width: 7px;
  height: 7px;
  border: 1px solid #000000;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(-45deg);
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  opacity: 0.3;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}
