.button {
  display: inline-block;
  min-height: 40px;
  padding: 9px;
  vertical-align: middle;
  text-align: center;
  font-family: $font-main-bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  overflow-wrap: break-word;
  background-image: linear-gradient(to bottom, transparent 16px, #fec515 16px, #fec515 51%, transparent 51%),
    linear-gradient(to top, transparent 16px, #fec515 16px, #fec515 51%, transparent 51%);
  border: none;
  background-color: transparent;
  transition: background-color 0.2s;
}

.button:hover,
.button:focus {
  background-image: none;
  background-color: #fec515;
  transition: background-color 0.2s;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}
