.filters {
  display: flex;
  justify-content: flex-end;
  background-color: #efefef;
}

.filters__form {
  width: 269px;
  padding: 69px 68px 69px 0;
}

.filters__item {
  margin: 0;
  padding: 0 0 31px 0;
  border: none;
  border-top: 2px solid #000000;
}

.filters__item--bluetooth {
  padding-bottom: 30px;
}

.filters__legend {
  margin-top: 10px;
  margin-bottom: 18px;
  font-family: $font-main-bold;
  font-size: 18px;
  line-height: 24px;
}

.filters__show {
  width: 100%;
}
