.footer {
  padding: 60px 0 47px;
  background-color: #464646;
  color: #ffffff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;

  @media (max-width: $large-breackpoint) {
    width: 96.66%;
  }
}

.footer__item {}

.footer__item--left {
  position: relative;
  width: 30%;
  text-align: left;
}

.footer__address {
  margin-top: 21px;
  font-weight: 300;
}

.footer__address::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 32px;
  width: 80px;
  background-color: #fec515;
  height: 7px;
}

.footer__item--right {
  width: 68.3%;
  padding-top: 2px;
  text-align: right;
}

.footer__user-menu {
  justify-content: flex-end;
  text-align: left;
}

.footer__more-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 38px;
}

.footer__phone-number-wrapper {
  width: 40%;
}

.footer__phone-number:hover,
.footer__phone-number:focus {
  opacity: 0.6;
}

.footer__phone-number:active {
  opacity: 0.3;
}

.footer__copyright {
  width: 40%;
  margin-top: 62px;
}

.footer__copyright__link {
  display: block;
  margin-left: auto;
  padding: 0;
  width: 27px;
  height: 35px;
  background-image: url("../img/icon/logo-html.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer__copyright__link:hover,
.footer__copyright__link:focus {
  opacity: 0.6;
}

.footer__copyright__link:active {
  opacity: 0.3;
}
