.header {
  width: 100%;
  margin: 0 auto;
}

.header__inner {
  width: 1160px;
  margin: 0 auto;
  padding: 16px 60px 51px 59px;
  background-image: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px);
}

@media all and (max-width: 1199px) {
  .header__inner {
    width: 96.66%;
  }
}

.header--catalog .header__inner {
  padding-top: 15px;
  padding-bottom: 50px;
}

.header__logo {
  margin-bottom: 9px;
  margin-left: -2px;
}

.header--catalog .header__logo {
  margin-top: 3px;
  margin-bottom: 7px;
}

.header__middle {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 300;
}

.header__search {
  width: 52%;
}

.header__user-menu {
  width: 48%;
}
