.info {
  display: flex;
  justify-content: space-between;
  width: 54%;
  margin: 0;
  padding: 6px 0 0;
  list-style: none;
  font-family: $font-main-bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.info__link {
  margin-left: 4px;
}

.info__link:hover,
.info__link:focus {
  opacity: 0.6;
}

.info__link:active {
  opacity: 0.3;
}

.info__link--left {
  margin-left: 0;
}
