.logo {
  font-family: $font-main-bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.8px;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}

.logo--footer {
  margin-left: -3px;
  color: #fec515;
}
