.main {
  padding-bottom: 82px;
}

.main--catalog {
  width: 100%;
  padding-bottom: 0;
}


.main__inner-container {
  width: 1200px;
  margin: 0 auto;
}

.main-inner-container--max-width {
  width: 100%;
}

.main-inner-container--bg-gray {
  background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
}

.main__slider {
  width: 1160px;
  margin: 0 auto 106px;
  background-image: linear-gradient(to bottom, #f7e296 112px, #ffffff 112px);
}

.main__catalog-sections {
  width: 1160px;
  margin: 0 auto 71px;
}

.main__service {
  position: relative;
  width: 1160px;
  margin: 0 auto 94px;
}

.main__brends {
  width: 1160px;
  margin: 0 auto 93px;
}

.main__information {
  width: 1160px;
  margin: 0 auto;
}

.main__header {
  width: 1160px;
  margin: 0 auto 45px;
  padding: 0 60px;
}

@media all and (max-width: 1199px) {
  .main__header {
    width: 96.66%;
  }
}

.main__heading {
  margin: 37px 0 25px;
  font-family: "Gilroy-Extra Bold";
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.6px;
}

.main__content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main__filters-header {
  display: flex;
  justify-content: flex-end;
  width: calc(50% - 252px);
  background-color: #dbdbdb;
  margin: 0;
  font-family: "Gilroy-Extra Bold";
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.4px;
}

.main__filters {
  width: calc(50% - 252px); /*половина ширины (1160/2=580) минус ширину фильтра(269) + падинг (59) = 580-269-59=252*/
  order: 1;
}

.main__sorting {
  width: calc(50% + 252px);
  background-color: #ebebeb;
}

.main__catalog {
  width: calc(50% + 252px);
  order: 1;
}

.main__filters-header-inner {
  width: 267px;
  padding: 23px 70px 23px 0;
}
