.pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ebebeb;
}

.pagination__item {
  font-family: "Gilroy-Extra Bold";
  font-size: 16px;
  line-height: 24px;
}

.pagination__item--word {
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.pagination__item--word  .pagination__link {
  display: block;
  padding: 24px 26px 22px 30px;
}

.pagination__item--word  .pagination__link:hover ,
.pagination__item--word  .pagination__link:focus{
  background-color: #d9d9d9;
}

.pagination__item--word  .pagination__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__item--next {
  margin-left: auto;
}

.pagination__item--number {
  margin: 0 12px;
  padding-left: 7px;
}

.pagination__item--previous {
  margin-right: auto;
}

.pagination__item--number .pagination__link {
  opacity: 0.3;
}

.pagination__item--number .pagination__link--current {
  opacity: 1;
}

.pagination__item--number .pagination__link:hover,
.pagination__item--number .pagination__link:focus {
  opacity: 0.6;
}

.pagination__item--number .pagination__link:focus {
  opacity: 1;
}
