.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 960px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15),
    0 -1px 10px 0 rgba(0, 1, 1, 0.15);
}

.pop-up--hidden {
  display: none;
}

.pop-up--send-message {
  padding: 80px 100px;
}

.pop-up--map {
  height: 560px;
  background-image: url(../img/map-big.jpg);
  background-position: center center;
}

.pop-up__close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url("../img/icon/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  border: none;
  cursor: pointer;
}

.pop-up__close:hover,
.pop-up__close:focus {
  opacity: 1;
}

.pop-up__close:active {
  opacity: 0.8;
}

.pop-up__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pop-up__item {
  width: 360px;
  font-family: "Gilroy-Extra Bold";
  font-size: 18px;
  line-height: 24px;
}

.pop-up__input {
  width: 360px;
  height: 50px;
  padding: 5px 20px 6px;
  font-family: "Open sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f1f1f1;
  border: 3px solid transparent;
}


.pop-up__input:hover {
  background-color: #ebebeb;
}

.pop-up__input:focus {
  background-color: transparent;
  border-color: #f0c52e;
  outline: none;
}

.pop-up__caption {
  margin-bottom: 10px;
}

.pop-up__item--name {}
.pop-up__item--email {}

.pop-up__item--message {
  width: 760px;
  margin: 30px 0 36px;
}

.pop-up__textarea {
  width: 760px;
  height: 154px;
  padding: 20px 25px;
  font-family: "Open sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f1f1f1;
  border: 3px solid transparent;
  resize: vertical;
}

.pop-up__textarea:hover {
  background-color: #ebebeb;
}

.pop-up__textarea:focus {
  background-color: transparent;
  border-color: #f0c52e;
  outline: none;
}

.pop-up__input--error {
  background-color: #f6dada;
}

.pop-up__submit {}

