.service-slider {
  position: relative;
  display: flex;
  padding-bottom: 69px;
}

.service-slider__control {
  width: 284px;
  padding: 80px 0 46px;
  border-right: 7px solid #000000;
}

.service-slider__label {
  display: block;
  margin-bottom: 24px;
  padding: 0;
  cursor: pointer;
}

.service-slider__label--slide2 {
  margin-bottom: 25px;
}

.service-slider__button {
  position: relative;
  width: 160px;
  padding-left: 3px;
}

.service-slider__button:active {
  color: #f7e296;
  background-color: #000000;
}

.service-slider__button:active::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 119px;
  top: 0;
  right: -119px;
  background-color: #000000;
}

.service-slider__slide {
  padding: 47px 300px 20px 0;
  background-repeat: no-repeat;
  background-position: 92.4% 64%;
}

.service-slider__slide--slide1 {
  background-image: url("../img/delivery.svg");
}

.service-slider__slide--slide2 {
  display: none;
  background-image: url("../img/warranty.svg");
}

.service-slider__slide--slide3 {
  display: none;
  background-image: url("../img/credit.svg");
}

#service-slide1:checked ~ .service-slider__control .service-slider__label--slide1,
#service-slide2:checked ~ .service-slider__control .service-slider__label--slide2,
#service-slide3:checked ~ .service-slider__control .service-slider__label--slide3 {
  background-color: #000000;
}

#service-slide1:checked ~ .service-slider__control .service-slider__label--slide1 .service-slider__button,
#service-slide2:checked ~ .service-slider__control .service-slider__label--slide2 .service-slider__button,
#service-slide3:checked ~ .service-slider__control .service-slider__label--slide3 .service-slider__button {
  color: #f7e296;
  background: none;
}

#service-slide1:focus ~ .service-slider__control .service-slider__label--slide1,
#service-slide2:focus ~ .service-slider__control .service-slider__label--slide2,
#service-slide3:focus ~ .service-slider__control .service-slider__label--slide3 {
  background-color: #000000;
}

#service-slide1:focus ~ .service-slider__control .service-slider__label--slide1 .service-slider__button,
#service-slide2:focus ~ .service-slider__control .service-slider__label--slide2 .service-slider__button,
#service-slide3:focus ~ .service-slider__control .service-slider__label--slide3 .service-slider__button {
  color: #f7e296;
  background: none;
}

#service-slide1:checked ~ .service-slider__content .service-slider__slide--slide1,
#service-slide2:checked ~ .service-slider__content .service-slider__slide--slide2,
#service-slide3:checked ~ .service-slider__content .service-slider__slide--slide3 {
  display: block;
}

#service-slide1:checked ~ .service-slider__content .service-slider__slide--slide2,
#service-slide1:checked ~ .service-slider__content .service-slider__slide--slide3,
#service-slide2:checked ~ .service-slider__content .service-slider__slide--slide1,
#service-slide2:checked ~ .service-slider__content .service-slider__slide--slide3,
#service-slide3:checked ~ .service-slider__content .service-slider__slide--slide1,
#service-slide3:checked ~ .service-slider__content .service-slider__slide--slide2 {
  display: none;
}

.service-slider__content {
  width: 876px;
  padding: 35px 20px 20px 115px;
}


.service-slider__header {
  margin: 0 0 40px;
  padding-left: 2px;
  font-family: $font-main-bold;
  font-size: 47px;
  letter-spacing: 1px;
}
