.sorting-controls {
  display: flex;
  justify-content: flex-start;
}

.sorting-controls__wrapper {
  display: flex;
  width: 835px;
  padding: 23px 0 23px 73px;

}
.sorting-controls__caption {
  margin: 0 50px 0 0;
  font-family: "Gilroy-Extra Bold";
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.sorting-controls__list {
  display: flex;
  width: 560px;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 21px;
}

.sorting-controls__item {
  opacity: 0.3;
  margin-right: 29px;
  font-size: 14px;
}

.sorting-controls__item:hover,
.sorting-controls__item:focus {
  opacity: 0.6;
}

.sorting-controls__item--current {
  opacity: 1;
}

.sorting-controls__item:active {
  opacity: 1;
}

.sorting-controls__item--ascending {
  margin-left: auto;
  margin-right: 21px;
}

.sorting-controls__item:last-child {
  margin-right: 0;
}

.sorting-controls__arrow {
  vertical-align: middle;
  display: inline-block;
  border: 10px solid #000000;
  border-top-width: 0;
  border-left-width: 5px;
  border-right-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
}

.sorting-controls__arrow--to-bottom {
  border-top-width: 10px;
  border-bottom-width: 0;
}
