.sub-menu {
  flex-wrap: wrap;
  flex-direction: row;
  width: 1160px;
  margin: 0 0 0 -59px;
  padding: 24px 60px 30px 59px;
  z-index: 10;
  list-style: none;
  font-family: $font-additional;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  text-transform: none;
  letter-spacing: 0.15px;
  background-color: #f7e296;
}

.sub-menu__item:nth-child(1),
.sub-menu__item:nth-child(4),
.sub-menu__item:nth-child(3n+7) {
  width: 235px;
}

.sub-menu__item:nth-child(2),
.sub-menu__item:nth-child(3n+8) {
  width: 200px;
}

.sub-menu__item:nth-child(3),
.sub-menu__item:nth-child(5),
.sub-menu__item:nth-child(3n+9) {
  width: 605px;
}

.sub-menu__item:nth-child(6) {
  width: 900px;
}

.sub-menu__link:hover,
.sub-menu__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sub-menu__link:active {
  color: rgba(0, 0, 0, 0.3);
}
